.mainContainer {
  //margin: 50px;
  margin-top: 15px;
  border: solid 1px black;
  height: 600px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  /* temp */
  overflow-y: clip;
}

.sectionsContainer {
  height: 60%;
  display: inline-flex;
  justify-content: flex-start;
}

.topSectionsCont {
  height: 30%;
  display: inline-flex;
  justify-content: flex-start;
}

.fullSection {
  display: inline-block;
  width: 250px;
  border: 2px solid #d9d9d9;
  border-right: none;
  height: 100%;
  position: relative;
}









.fullSection:last-child {
  border-right: 2px solid black;
}

.halfSection {
  display: inline-block;
  width: 125px;
  border: 2px solid #d9d9d9;
  border-right: none;
  height: 100%;
}

.seatText {
  font-size: 8px;
  font-weight: 500;
  text-wrap: balance;
  text-align: center;
  max-height: 70%;
  overflow: inherit;
  padding: 5px;
}

.halfSection:last-child {
  border-right: 2px solid #d9d9d9;
}

.emptyFullSection {
  display: inline-block;
  width: 250px;
}

.emptyHalfSection {
  display: inline-block;
  width: 125px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.displayFlexClass {
  display: flex;
}

.departmentDropdown{
  display: flex;
  width: 80%;
}



/*.full-section {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  padding: 30px 10px 30px 10px;*/
/*  box-sizing: border-box;*/
/*}*/

.centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.positionBottom {
  display :flex;
  align-items: flex-end !important;

}

.positionLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.positionRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.photoMaxHeight {
    min-height: 295px;
}


.officeLayout {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /*gap: 5px;*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.meetingRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*border: 1px solid #000;*/
}

.meetingRoomTable {
  width: 100%;
  height: 90%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.desk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 90%;
  position: relative;
  overflow: hidden;
  align-self: center;

}


.deskBossCenterDown {
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  width: 85%;
  height: 80%;
  position: relative;
  overflow: hidden;
  align-self: center;
}

.deskBossCenterUp {
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-self: center;
}


.deskVertical{
  writing-mode: tb-rl;
}

.deskFloorTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid grey;
  width: 90%;
  height: 50%;
  position: relative;
  overflow: hidden;
  align-self: center;
}


.deskOdd {
  justify-self: end;
  margin-right: 1px;
}

.deskEven {
  justify-self: start;
  margin-left: 1px;
}


.deskTop {
  align-self: end;
}

.deskBottom {
  align-self: start;
}

.highlightedDesk {
  background-color: red;
}

.seat {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  max-width: 100%;
  font-family: monospace;

}

.largeDesk {
  width: 30%;
  height: 70%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*    half section css   */



.officeLayoutHalf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  /*gap:10px;*/
  /*padding: 10px;*/
  align-items: center;
  justify-items: center;
}

.deskHalf {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid grey;
  width: 100%;
  height: 100%;
  position: relative;
  overflow:hidden;
}

.officeLayoutTwo {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  /*gap: 5px;*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.floorBtnCont {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 20%;
}

highlightedUserDesk {
  border: 3px solid #ff0000;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

/* SeatingMap.module.scss */
.dropdown-70 {
  width: 95% !important;
}




.floorBtnCont {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.selectedFloorButton {
  border-radius: 20px;
  background-color: white;
  border: 2px solid #3e93cc;
  color: #3e93cc;
}
.selectedFloorButton.selected {
  background-color: #3e93cc;
  color: white;
  border-color: #3e93cc;
}

.selectedFloorButton:hover {
  background-color: #3e93cc;
  border: 2px solid #3e93cc;
  color: white;
}

.selectedFloorButtonTwo {
  border-radius: 20px;
  background-color: white;
  border: 2px solid #9bbc51;
  color: #9bbc51;
}
.selectedFloorButtonTwo.selected {
  background-color: #9bbc51;
  color: white;
  border-color: #9bbc51;
}

.selectedFloorButtonTwo:hover {
  background-color: #9bbc51;
  color: white;
  border-color: #9bbc51;
}


.departmentBtnCont {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.highlightedDesk {
  background-color: yellow;
}

.departmentDesk {
  background-color: yellow;
}

.displayNone {
  display: none;
}

.flexStart{
  align-items: flex-start !important;
}

.emptySectionText {
  font-family: monospace;
  font-size: 16px;
  color: #bfbfbf;
}

.smallDeskDown {
  background-image: url('../components/SeatingPlanImgs/smallDeskSeatDown.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
}

.smallDeskSeatDownHighlighted {
  background-image: url('../components/SeatingPlanImgs/smallDeskSeatDownHighlighted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
}



.smallDeskUp {
  background-image: url('../components/SeatingPlanImgs/smallDeskSeatUp.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
}

.smallDeskSeatUpHighlighted {
  background-image: url('../components/SeatingPlanImgs/smallDeskSeatUpHighlighted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
}


.smallDeskDownTwo {
  background-image: url('../components/SeatingPlanImgs/newDeskDown.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: end;
  height: 100%;
  width: 97%;
  margin-top: -51%;
}

.smallDeskSeatDownHighlighted {
  background-image: url('../components/SeatingPlanImgs/smallDeskSeatDownHighlighted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: end;
  height: 100%;
  width: 97%;
  margin-top: -51%;
}



.smallDeskUpTwo {
  background-image: url('../components/SeatingPlanImgs/newDeskUp.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: start;
  height: 100%;
  width: 97%;
  margin-top: 51%;
}

.smallDeskSeatUpHighlighted {
  background-image: url('../components/SeatingPlanImgs/smallDeskSeatUpHighlighted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: start;
  height: 100%;
  width: 97%;
  margin-top: 51%;
}

.leftDesk {
  background-image: url('../components/SeatingPlanImgs/leftDesk.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
}

.highlightedSeatLeftChair {
  background-image: url('../components/SeatingPlanImgs/highlightedSeatLeftChair.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
}


.rightDesk {
  background-image: url('../components/SeatingPlanImgs/rightDesk.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

.highlightedSeatRightChair {
  background-image: url('../components/SeatingPlanImgs/highlightedSeatRightChair.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

.bossDeskDown {
  background-image: url('../components/SeatingPlanImgs/bossDeskDown.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

.bossDeskDownHighlighted {
  background-image: url('../components/SeatingPlanImgs/BoddDeskDownHighlighted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

.bossDeskUp {
  background-image: url('../components/SeatingPlanImgs/bossDeskUp.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

.BossDeskupHighlighted {
  background-image: url('../components/SeatingPlanImgs/BossDeskupHighlighted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

// FINISH THE HIGHLIGHTING SELECTED DESKS, BOSSES, HALF SECTION AND 2ND FLOOR. ALSO AUTOSLIDE TO SELECTED DEPARTMENT SECTION

.leftMeetingRoom {
  background-image: url('../components/SeatingPlanImgs/leftMettingRoom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  height: 90%;
  width: 100%;
}

.rightMeetingRoom {
  background-image: url('../components/SeatingPlanImgs/rightMettingRoom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  height: 90%;
  width: 100%
}

.farLeftMeetingRoom{
  background-image: url('../components/SeatingPlanImgs/rightMettingRoom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  height: 60%;
  width: 100%;
  align-self: baseline;


}

.farRightMeetingRoom{
  background-image: url('../components/SeatingPlanImgs/leftMettingRoom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  height: 60%;
  width: 100%;
  align-self: baseline;

}

.takenSpaceImg {
  background-image: url('../components/SeatingPlanImgs/newTakenSpaceImg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

}

.ElevetorsImg {
  background-image: url('../components/SeatingPlanImgs/newElevatorImg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.femaleBathroom {
  background-image: url('../components/SeatingPlanImgs/femaleBathroom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.maleBathroom {
  background-image: url('../components/SeatingPlanImgs/maleBathroom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.centerElevators {
  background-image: url('../components/SeatingPlanImgs/newCenterElevators.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.rightStairs {
  background-image: url('../components/SeatingPlanImgs/newStairsImg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 50%;
}

.leftStairs {
  background-image: url('../components/SeatingPlanImgs/newStairsImg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 95%;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.kitchen {
  background-image: url('../components/SeatingPlanImgs/kitchenImg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 65%;
  justify-content: center;
  align-items: center;
  width: 100%;
}








